body {
  background-image: url("//static.vecteezy.com/system/resources/previews/003/804/860/non_2x/blue-and-clear-water-texture-swimming-pool-rippled-water-background-free-vector.jpg")
    /* background-image: url("//w7.pngwing.com/pngs/315/72/png-transparent-water-illustration-water-resources-swimming-pool-sea-pattern-seawater-texture-blue-computer.png") */
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

canvas {
  display: flex;
  width: 100%;
  height: 100%;
}

.card.card-body {

  background-color: rgba(255, 255, 255, 0.2);
}

.login-form {
  display: block;
  max-width: 90%;
  margin: 5% auto;
  width: 20rem;
}

.home-form {
  display: block;
  max-width: 90%;
  margin: 1% auto;
  width: 30rem;
}

.form-group label,
.form-group input {
  display: block;
  width: 100%;
  margin-bottom: 2px;
}

.form-group input {
  border: 1px solid black;
  font: inherit;
  border-radius: 2px;
}

.navbar {
  /* background-color: rgb(109, 241, 241); */
}

.navbar img {
  width: 25px;
}

.navbar-right {
  margin-left: auto;
}

.error {
  background-color: rgb(243, 126, 126);
  color: red;
  border-radius: 5%;
  margin: 10px 0px;
}

.error p {
  font-size: 30px;
  text-align: center;
  flex: auto;
}

.center {
  text-align: center;
}

.coach-card {
  margin: 4% 7%;
  width: 20%;
}

.cards {
  display: flex;
  flex-direction: row;
}

.card-body {
  background-color: #46b2d9;
  background-image: url("https://www.transparenttextures.com/patterns/foggy-birds.png");
}

.header {
  background-color: #46b2d9;
  background-image: url("https://www.transparenttextures.com/patterns/foggy-birds.png");
}

img {
  border-radius: 50%;
}